<div class="users pad1rem">
    <div class="flex flex-right">
        {{#link-to 'users/new'}}
            <div class="button">
                Add New
            </div>
        {{/link-to}}
    </div>
    <div class="users-list">
      {{#each model as |user|}}
          <div class="flex">
              <div class="width10pc">{{user.id}}</div>
              <div class="width20pc">{{user.firstname}} {{user.lastname}}</div>
              <div class="width30pc">{{user.email}}</div>
              {{#bs-dropdown as |dd|}}
                {{#dd.button}}Actions <span class="caret"></span>{{/dd.button}}
                {{#dd.menu as |menu|}}
                  {{#menu.item}}
                    {{#menu.link-to 'users/edit' user.id}} Edit{{/menu.link-to}}
                  {{/menu.item}}
                  {{#menu.item}}
                    <div class="destroy-action" {{action 'deleteRecord' user}}>Destroy</div>
                  {{/menu.item}}
                  {{#menu.item}}
                    {{#menu.link-to 'users/reviews' user.id}} Reviews{{/menu.link-to}}
                  {{/menu.item}}
                {{/dd.menu}}
              {{/bs-dropdown}}
          </div>
          <div class="thick-border"></div>
      {{/each}}
    </div>
</div>
