<div class="users pad1rem">
    <div class="flex flex-right">
        {{#link-to 'users/new'}}
            <div class="button" id="apple">
                Add New
            </div>
        {{/link-to}}
    </div>
    <div class="users-list">
      {{#each model as |user|}}
          <div class="single-user-row flex">
              <div class="width10pc">{{user.id}}</div>
              <div class="width30pc">{{user.firstname}} {{user.lastname}}</div>
              <div class="width30pc">{{user.email}}</div>
              <div class="width10pc">{{#link-to 'users/edit' user.id}}Edit{{/link-to}}</div>
              <div class="width10pc" {{action 'deleteRecord' user}}>Destroy</div>
          </div>
      {{/each}}
    </div>
</div>
