{{outlet}}
<div class="new-user pad1rem">
    <div class="input-wrapper">
        <div class="input-label"> First Name </div>
        {{input type=text value=model.firstname}}
    </div>

    <div class="input-wrapper">
        <div class="input-label"> Last Name </div>
        {{input type=text value=model.lastname}}
    </div>

    <div class="input-wrapper">
        <div class="input-label"> Email </div>
        {{input type=text value=model.email}}
    </div>

    <div class="input-wrapper">
        <div class="input-label"> Password </div>
        {{input type="password" value = model.password}}
    </div>

    <div class="button width15rem" {{action 'createNewUser'}}>
        Create
    </div>


</div>